# name: ci_dev

# on:
#   push:
#     branches:
#       - 'dev'

# jobs:
#   build_backend:
#     runs-on: ubuntu-20.04

#     steps:
#       - uses: actions/checkout@v3
#         with:
#           fetch-depth: 0

#       - name: Get changed files in the build folder
#         id: changed-files-build-specific
#         uses: tj-actions/changed-files@v35
#         with:
#           files: |
#             folder1
#             folder2

#       - name: List all changed files
#         run: |
#             echo "${{ steps.changed-files-build-specific.outputs.all_changed_files }}"

name: Get Changed Folders

on:
  push:
    branches:
      - dev

jobs:
  check_changes:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Get Changed Files
        id: get_changed_files
        uses: tj-actions/changed-files@v35

      - name: Extract Changed Folders
        id: extract_changed_folders
        run: |
          changed_files="${{ steps.get_changed_files.outputs.all }}"
          changed_folders=()
          IFS=$'\n'
          for file in $changed_files; do
            folder=$(dirname "$file")
            if [[ ! " ${changed_folders[@]} " =~ " ${folder} " ]]; then
              changed_folders+=("$folder")
            fi
          done
          echo "::set-output name=changed_folders::${changed_folders[*]}"
      
      - name: Print Changed Folders
        run: echo "Changed folders are ${{ steps.extract_changed_folders.outputs.changed_folders }}"
